---
layout: page
title: About The Podcast
---

{% assign about-title="What is Linguistics After Dark?" %}
{% assign about-class="about"%}
{% capture about-content %}
<p>Linguistics After Dark is a podcast where three linguists (and sometimes other people) answer your burning questions about language, linguistics, and whatever else you need advice about. We have three rules: any question is fair game, there's no research allowed, and if we can't answer, we have to drink.</p>
<p>It's a little like CarTalk for language: call us if your language is making a funny noise, and we'll get to the bottom of it, with a lot of rowdy discussion and bad nerdy jokes along the way. At the beginning of every show, we introduce a new linguistics term, and there's even a puzzler at the end!</p>
{% endcapture %}

{% assign hosts-title="Meet the Hosts:"%}
{% assign hosts-class="hosts"%}
{% capture hosts-content %}
{% for host in site.data.hosts %}
<div class="host-description">
  <h3>{{ host.name }} ({{ host.native }})</h3>
  <div>
    <p class="question">How many languages do you speak?</p>
    {{ host.languages | markdownify }}
  </div>
  <div>
    <p class="question">What's your linguistic specialty?</p>
    {{ host.specialty | markdownify }}
  </div>
  <div>
    <p class="question">What's your accent like?</p>
    {{ host.accent | markdownify }}
  </div>
  <div>
    <p class="question">{{ host.bonus-q }}</p>
    {{ host.bonus-a | markdownify }}
  </div>
</div>
{% endfor %}
{% endcapture %}

{% include article.html
  class=about-class
  title=about-title
  content=about-content
%}

{% include article.html
  class=hosts-class
  title=hosts-title
  content=hosts-content
%}
