<footer class="container-fluid">
  <!-- <div class="row py-2 social-list">
    {% for sm in site.data.social_media %}
    <div class="px-2"><a href="{{sm.site}}"><img src="{{site.baseurl}}/images/social-icons/{{sm.service}}-white.svg" alt="{{sm.service}} logo"/></a></div>
    {% endfor %}
  </div> -->
  <div class="row py-1">
    <small class="col-12 text-center">Linguistics After Dark is made by Emfozzing Enterprises, Inc.</small>
    <small class="col-12 text-center">Emfozzing Enterprises, Inc. is a 501(c)(3) non-profit organization.</small>
  </div>
  <div class="row py-1">
    <small id="made-with-love" class="col-12 text-center">Made with <span class="heart">♥</span> in the midsagittal section.</small>
  </div>
</footer>
