{% capture tagscommas %}{% for tag in include.post.tags %}{{ tag }}{% unless forloop.last %}, {% endunless %}{% endfor %}{% endcapture %}
{% assign idslug = include.post.id | remove_first: "/" | replace: "/", "-" %}

{% capture title %}
<a href="{{ include.post.url }}">{{ include.post.title }}</a>
{% endcapture %}

{% capture transcript %}
{% if include.post.transcript %}
<a href="{{ site.baseurl }}/static/{{ idslug }}/transcript.sbv.txt">Transcript</a>
{% else %}
Transcript coming soon!
{% endif %}
{% endcapture %}

{% capture intro %}
<div class="post-metadata">{{ include.post.date | date: "%B %e, %Y" }} • {{ transcript }}<!-- • Filed under: {{ tagscommas }}--></div>
<div class="podcast-player">
  <iframe src="https://anchor.fm/lxadpodcast/embed/episodes/{{ include.post.embed }}" width="100%" frameborder="0" scrolling="no"></iframe>
</div>
<div class="podcast-links">Or listen and subscribe:
  {% for player in site.data.players %}
  <a href="{{ player[1].link }}"><img class="podcast-icon" alt="{{  player[1].name  }} logo" title="Subscribe on {{ player[1].name }}" src="{{ site.baseurl }}/images/players/{{ player[0] }}/{{ player[1].icon }}" /></a>
  {% endfor %}
</div>
{% endcapture %}

{% unless include.excerpt %}
{% capture outro %}
Send your questions (text or voice memo) to <a href="mailto:questions@linguisticsafterdark.com">questions@linguisticsafterdark.com</a>, and follow us at @lxadpodcast on <a href="{{ site.data.social_media.twitter }}">Twitter</a>, <a href="{{ site.data.social_media.twitter }}">Instagram</a>, and <a href="{{ site.data.social_media.facebook }}">Facebook</a>. And if you'd like to support us, you can <a href="{{ site.data.social_media.patreon }}">pledge on our Patreon</a>. Thanks for listening!
{% endcapture %}
{% endunless %}

{% if include.excerpt %}
{% capture content %}
<div class="excerpt-content">
  {{ include.post.excerpt }}
</div>
{% endcapture %}
{% else %}
{% capture content %}
<div class="post-content">
  {{ include.post.content }}
</div>
{% endcapture %}
{% endif %}

{% if include.excerpt %}
{% capture footer %}
<a href="{{ include.post.url  }}">Read more ☞</a>
{% endcapture %}
{% endif %}


{% include article.html
  class="post"
  title=title
  intro=intro
  content=content
  outro=outro
  footer=footer
%}
