<div class="container-fluid px-0 px-lg-3">
  <div class="row logo">
    <a class="col" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/images/LXAD_Cover-TransparentAlternate.png" />
    </a>
  </div>
  <div class="row produced-by">
    <div class="col"><a href="https://emfozzingenterprises.org/">Produced by <img src="{{ site/baseurl }}/images/ee-logo.svg" /> <span class="ee">Emfozzing Enterprises</span></a></div>
  </div>
  <nav class="row">
    <div><a href="mailto:questions@linguisticsafterdark.com">Ask a Question</a></div>
    <div><a href="/about">About L<span class="little-x">x</span>AD</a></div>
    <div><a href="/episodes">Episodes</a></div>
    <div><a href="{{ site.data.social_media.patreon }}">Support Us</a></div>
  </nav>
  <div class="row social-media">
    <div class="col-0 col-lg-2"></div>
    {% assign socials = "patreon|youtube|rss" | split: "|" %}
    {% for social in socials %}
    <div class="col"><a href="{{ site.data.social_media[social] }}"><img src="{{ site.baseurl }}/images/social/Icon_LxAD-{{social}}-cyan.svg" /></a></div>
    {% endfor %}
    <div class="col-0 col-lg-2"></div>
  </div>
  <div class="row social-media">
    <div class="col-0 col-lg-2"></div>
    {% assign socials = "instagram|twitter|facebook" | split: "|" %}
    {% for social in socials %}
    <div class="col"><a href="{{ site.data.social_media[social] }}"><img src="{{ site.baseurl }}/images/social/Icon_LxAD-{{social}}-cyan.svg" /></a></div>
    {% endfor %}
    <div class="col-0 col-lg-2"></div>
  </div>
</div>
