<div class="container-fluid px-0 px-lg-3">
  <div class="row logo">
    <a class="col" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/images/LXAD_Cover-TransparentAlternate.png" />
    </a>
  </div>
  <div class="row produced-by">
    <div class="col"><a href="https://emfozzingenterprises.org/">Produced by <img src="{{ site/baseurl }}/images/ee-logo.svg" /> <span class="ee">Emfozzing Enterprises</span></a></div>
  </div>
  <nav class="row">
    <div><a href="mailto:questions@linguisticsafterdark.com">Ask a Question</a></div>
    <div><a href="/about">About <span aria-label="LXAD">L&#x00D7;AD</span></a></div>
    <div><a href="/episodes">Episodes</a></div>
    <div><a href="/volunteer">Join us!</a></div>
    <div><a href="{{ site.data.social_media.patreon }}">Support Us</a></div>
  </nav>
  <div class="row justify-content-center social-media">
    {% assign socials = "patreon|youtube|rss|x|instagram|twitter|facebook" | split: "|" %}
    {% for social in socials %}
    {% unless social == "x" %}
    <div class="col-2 col-md-3"><a href="{{ site.data.social_media[social] }}"><img src="{{ site.baseurl }}/images/social/Icon_LxAD-{{social}}-cyan.svg" /></a></div>
    {% else %}
    <div class="w-100 d-none d-md-block"></div>
    {% endunless %}
    {% endfor %}
  </div>
</div>
