article {

  & > header h1 {
    @extend .mb-0;

    font-family: $font-family-neon-block;
    color: $white;

    @include neon-text($lxad-magenta);

    a, a:hover {
      /* keeps header links white like normal text */
      color: inherit;
    }
  }

  p:last-child {
    @extend .mb-0;
  }

  .article-main {
    @extend .p-3;

    background: $article-background-color;
    color: $article-text-color;
    border-radius: 1rem;
    @include neon-under($lxad-magenta);

    a, a:hover {
      color: $article-link-color;
    }
  }

  .article-intro {
    @extend .mb-3;
    @extend .pb-3;
    border-bottom: $article-divider;
  }

  .article-outro {
    @extend .mt-3;
    @extend .pt-3;
    border-top: $article-divider;
  }

  footer {
    font-family: $font-family-neon-script;
    font-size: 1.5em;
    text-transform: lowercase;
    color: $white;
    @include neon-text($lxad-cyan);

    text-align: right;
    @extend .pr-3;

    a, a:hover {
      /* keeps footer links white like normal text */
      color: inherit;
    }
  }

  & > :last-child{
    @extend .mb-3;
  }
}
