@font-face {
  font-family: "Beon";
  src: url("#{$baseurl}/fonts/Beon.otf") format("opentype");
}

@font-face {
  font-family: "Nickainley";
  src: url("#{$baseurl}/fonts/Nickainley-Normal.otf") format("opentype");
}
