article {
  @extend .mb-3;
  @extend .py-4;
  @extend .px-5;

  background: $post-background-color;
  color: $post-text-color;
  border-radius: 1rem;
  @include neon-under($lxad-magenta);
}

#page { 
  overflow-y: overlay;
}

.main-content {
  display: flex;
  flex-direction: column;
}
