aside {
  .logo img {
    max-width: 100%;
    @extend .px-3;

    @include media-breakpoint-up(md) {
      // You can't @extend inside an @include, so this is the equivalent of .px-0;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  .produced-by {
    font-size: 0.8em;
    text-align: center;

    a {
      color: inherit;
    }

    img {
      height: 1em;
      margin-top: -0.25em;
    }

    .ee {
      @include neon-text($ee-cyan);
    }
  }

  nav {
    @extend .mt-3;

    & > div {
      @extend .col-12;
      @extend .my-1;

      text-align: center;
      text-transform: uppercase;
      font-size: 1.25em;
      font-family: $font-family-neon-block;
      @include neon-text($lxad-magenta);

      @include media-breakpoint-up(lg) {
        font-size: 1.75em;
      }

      & .little-x {
        font-size: .67em;
      }
    }
  }

  .social-media {
    @extend .mt-3;

    img:hover {
      @include neon-svg($lxad-cyan);
    }
  }
}
