aside {
  .logo img {
    width: 100%;
  }

  .produced-by {
    font-size: 0.8em;
    text-align: center;

    a {
      color: inherit;
    }

    img {
      height: 1em;
      margin-top: -0.25em;
    }

    .ee {
      @include neon-text($ee-cyan);
    }
  }

  nav {
    @extend .mt-3;

    & > div {
      @extend .col-12;
      @extend .my-1;

      text-align: center;
      text-transform: uppercase;
      font-size: 1.25em;
      font-family: $font-family-neon-block;
      @include neon-text($lxad-magenta);

      @include media-breakpoint-up(lg) {
        font-size: 1.75em;
      }

      & .little-x {
        font-size: .67em;
      }
    }
  }

  .social-media {
    @extend .mt-3;
  }
}
