body {
  font-family: $font-family-base;
  font-variant-numeric: lining-nums;

  color: $white;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-image: url($baseurl + '/images/Edit_LXD_Background-tileable.png');
  background-size: 50%;
  background-origin: border-box;
  background-repeat: repeat;
  background-color: black;
  background-attachment: fixed;
}

a {
  color: $link-color;

  &:hover {
    color: $link-color;
  }
}
