$font-family-lxad-body: "Nunito Sans", sans-serif;
$font-family-lxad-headings: "Nunito Sans", sans-serif;
$font-family-base: $font-family-lxad-body;
$headings-font-family: $font-family-lxad-headings;

$font-weight-normal: 500;
$headings-font-weight: 500;

$navbar-dark-color: rgba($white, .8);
