$font-family-lxad-body: "Nunito Sans", sans-serif;
$font-family-lxad-headings: "Nunito Sans", sans-serif;
$font-family-neon-script: "Nickainley", sans-serif;
$font-family-neon-block: "Beon", sans-serif;

$font-family-base: $font-family-lxad-body;
$headings-font-family: $font-family-lxad-headings;

$font-weight-normal: 500;
$headings-font-weight: 500;

$h1-lg-font-size:  2rem !default;
$h2-lg-font-size:  1.5rem !default;
$h3-lg-font-size:  1.25rem !default;
$h4-lg-font-size:  1.125rem !default;

$h1-font-size:  1.75rem !default;
$h2-font-size:  1.25rem !default;
$h3-font-size:  1.125rem !default;
$h4-font-size:  1rem !default;

$link-color: $lxad-magenta;

$article-background-color: $white;
$article-text-color: $black;
$article-link-color: scale-color($link-color, $lightness: -20%);
$article-divider: 1px solid $black;

$neon-white: $white;
@mixin neon($color) {
  border: 2px solid $neon-white;
  border-radius: 1rem;
  box-shadow: 0 0 0.5em $color,
        inset 0 0 0.5em $color;
};

@mixin neon-under($color) {
  box-shadow: 0 0 0.5em $color;
};

@mixin neon-text($color) {
  color: $neon-white;
  text-shadow: 0 0 0.5em $color;

  a, a:hover {
    color: inherit;
  }
};
