$white: white !default;
$black: black !default;

$lxad-magenta: #ff00ff;
$lxad-cyan: #00ffff;

// $ee-cyan: #00aeef;
// $ee-blue: #1b75bc;

// $cc-blue: #005BAB;
// $cc-dark-blue: #1B344C;
// $cc-cyan: #2ED3E5;
// $cc-dark-cyan: $cc-dark-blue;
// $cc-green: #134C21;
// $cc-light-green: lighten($cc-green, 40%);
// $cc-gold: #E58E0B;
