---
layout: default
---

{% include header.html %}

<main class="container rounded page-main my-sm-3 p-5">
  <article class="post">
    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
    </header>

    <div class="post-content">
      <meta http-equiv="refresh" content="3;{{ page.redirect_url}}"/>
      <p>You are being redirected to <a href="{{ page.redirect_url }}">{{ page.redirect_url}}</a>.</p>
      {{ content }}
    </div>

  </article>
</main>

{% include footer.html %}
